@model Guid
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container row pt-4" >
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your Order Number is: @Model <br /><br />
    </div>

    <div class="col-12 text-center">
        <br />
        Your order has been placed successfully! <br/>
    </div>
</div>

