@model WebBanHangOnline.Models.TbCategory
@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin danh mục</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <!--gửi form tới action Add trong Category và thực thi action đó-->
                <!--asp-area="admin" asp-action="Add" asp-controller="Category"-->
                <form method="post">
                    <input asp-for="Id" hidden />
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group mb-3">
                            <label asp-for="Title ">Tên danh mục</label>
                            <input asp-for="Title"  class="form-control" placeholder="Tên danh mục">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="/admin/category">Quay lại</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
