@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section search {
    @*render search partial view*@
    @{
        Html.RenderPartial("SearchPartial");
    }
}

<!-- Main content -->
<section id="ListCategory" class="content" style="height:100%">
    <div class="card" style="height:100%">
        <div class="card-header d-flex justify-content-between">
            <h2 class="card-title"><strong>Danh sách danh mục</strong></h2>
            <div class="card-tools ">
                <a href="/category-add" class="btn btn-primary">Thêm mới MVC</a>
                <a href="#" class="btn btn-primary shadow rounded" data-bs-toggle="modal" data-bs-target="#category-info">Thêm mới Ajax</a>
            </div>
        </div>
        <div class="table-responsive text-nowrap flex-grow-1">
            <table class="table ">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Thứ tự</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="list-category" class="table-border-bottom-0">
                    
                </tbody>
            </table>
        </div>
    </div>

</section>

@*render modal add category partial view*@
@{
    Html.RenderPartial("ModalAddCategoryPartial");
}   

@section scripts {
    <script src="~/admin/js/category/category.js"></script>
}
