<!-- /.content -->
<!-- Modal Add -->
<div class="modal fade" id="category-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="inforTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Tiêu đề modal-->
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="infotasklabel">Thông tin danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!--Thân modal-->
            <div class="modal-body">
                <input type="text" id="idCategory" value="" hidden />
                <div class="mb-3">
                    <label for="Title" class="form-label fw-bold">Tên danh mục</label>
                    <input type="text" class="form-control" id="Title" name="Title" placeholder="Tên danh mục" autofocus>
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label fw-bold">Mô tả</label>
                    <input type="text" class="form-control" id="Description" name="Description" placeholder="Mô tả">
                </div>
                <div class="mb-3">
                    <label for="Position" class="form-label fw-bold">Thứ tự</label>
                    <input type="number" class="form-control" id="Position" name="Position" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="SeoTitle" class="form-label fw-bold">SeoTitle</label>
                    <input type="text" class="form-control" id="SeoTitle" name="SeoTitle" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="SeoDescription" class="form-label fw-bold">SeoDescription</label>
                    <input type="text" class="form-control" id="SeoDescription" name="SeoDescription" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="SeoDescription" class="form-label fw-bold">SeoKeyWords</label>
                    <input type="text" class="form-control" id="SeoKeyWords" name="SeoKeyWords" placeholder="">
                </div>
            </div>

            <!--Cụm nút nhấn-->
            <div class="modal-footer">
                <a href="javascript:void()" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy bỏ</a>
                <a id="add-category" href="javascript:void(0)" class="btn btn-primary">Ok</a>
            </div>
        </div>
    </div>
</div>