<!-- Search -->
<div class="navbar-nav align-items-center flex-grow-1">
    <form asp-action="index" asp-controller="category" method="get" class="flex-grow-1 d-flex">
        <div class="nav-item d-flex align-items-center d-flex flex-grow-1">
            <button type="submit" class="btn btn-light btn-sm">
                <i class="bx bx-search fs-4 lh-0"></i>
            </button>
            <input type="text" name="searchStr" class="form-control mx-3 border-1 flex-grow-1" placeholder="Search..." />
        </div>
    </form>
</div>
<!-- /Search -->

