@model IEnumerable<WebBanHangOnline.Models.TbCategoryWeb>

<ul class="menu-inner py-1">
    @{
        var currentPage = this.Context.Request.Path;
    }
    <li class="menu-item @(currentPage == "/admin"? " active": "")">
        <a href="/admin" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            Dashboard
        </a>
    </li>
    @foreach (var item in Model)
    {
        <li class="menu-item @(currentPage == ("/admin/" + item.Name) ? " active": "")" >
            <a href="/admin/@item.Name" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <label asp-for="@item.Name"></label>
            </a>
        </li>
    }

</ul>

@section Scripts {
    <script>

    </script>
}