<!-- Search -->
<div class="navbar-nav align-items-center flex-grow-1">
    <div class="nav-item d-flex align-items-center d-flex flex-grow-1">
        <a href="javascript:void(0)" onclick="Search()" class="btn btn-light btn-sm">
            <i class="bx bx-search fs-4 lh-0"></i>
        </a>
        <input type="text" name="searchStr"  class="form-control mx-3 border-1 flex-grow-1" placeholder="Search..." />
    </div>
</div>
<!-- /Search -->
