@model IEnumerable<WebBanHangOnline.Models.TbProductCategory>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section search {
    <!-- Search -->
    @{
        await Html.RenderPartialAsync("SearchPartial");
    }
    <!-- /Search -->
}

<!-- Main content -->
<section id="ListCategory" class="content flex-grow-1" style="height:100%">
    <div class="card" style="height:100%">
        <div class="card-header d-flex justify-content-between">
            <h2 class="card-title"><strong>Danh sách danh mục</strong></h2>
            <div class="card-tools ">
                <a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#category-info">
                    Thêm mới
                </a>
                <a onclick="deleteChecked()" href="javascript:void(0)" class="btn btn-danger">Xóa</a>
            </div>
        </div>
        <div class="table-responsive text-nowrap flex-grow-1">
            <table class="table ">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="form-switch-md" id="select-all"  style="transform: scale(1.5)" />
                        <th>Tên danh mục</th>
                        @* <th>Hiển thị</th> *@
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="list-category" class="table-border-bottom-0">
                    
                </tbody>

            </table>
        </div>
    </div>

</section>
<!-- /.content -->
<!-- Modal Add -->
@{
    await Html.RenderPartialAsync("UpsertModal");
}


<!-- Modal Confirm delete -->
@{
    await Html.RenderPartialAsync("ConfirmDeleteModal");
}

<!-- Modal Confirm Delete  Checked-->
@{
    await Html.RenderPartialAsync("ConfirmDeleteCheckedModal");
}

@section scripts {
    <script>
        $(document).ready(() => {
            LoadData();

            $('input[name="searchStr"]').keydown(function (event) {
                if (event.keyCode === 13) { // Phím Enter
                    Search(); // Gọi hàm Search
                }
            });
        });

        function changeStatus(id) {
            $.ajax({
                type: 'post',
                url: '/Admin/productcategory/changeStatus',
                data: {
                    Id: id
                },
                success: function (result) {
                    if (result.isActive == true) {
                        $("#isActive_" + result.id).removeClass("text-danger");
                        $("#isActive_" + result.id).removeClass("bx-x-circle");
                        $("#isActive_" + result.id).addClass("bx-check-circle");
                        $("#isActive_" + result.id).addClass("text-success");
                        $("#isActive_" + result.id).text(' Hiển thị');
                    }
                    else if (result.isActive == false) {
                        $("#isActive_" + result.id).removeClass("text-success");
                        $("#isActive_" + result.id).removeClass("bx-check-circle");
                        $("#isActive_" + result.id).addClass("text-danger");
                        $("#isActive_" + result.id).addClass("bx-x-circle");
                        $("#isActive_" + result.id).text(' Không hiển thị');
                    }
                }
            })
        }

        function apiChangeStatus(id) {
            $.ajax({
                type: 'put',
                url: 'https://localhost:7000/api/TbProductCategory/' + id,
                success: function (result) {
                    if (result.isActive == true) {
                        $("#isActive_" + result.id).removeClass("text-danger");
                        $("#isActive_" + result.id).removeClass("bx-x-circle");
                        $("#isActive_" + result.id).addClass("bx-check-circle");
                        $("#isActive_" + result.id).addClass("text-success");
                        $("#isActive_" + result.id).text(' Hiển thị');
                    }
                    else if (result.isActive == false) {
                        $("#isActive_" + result.id).removeClass("text-success");
                        $("#isActive_" + result.id).removeClass("bx-check-circle");
                        $("#isActive_" + result.id).addClass("text-danger");
                        $("#isActive_" + result.id).addClass("bx-x-circle");
                        $("#isActive_" + result.id).text(' Không hiển thị');
                    }
                }
            })
        }

        
        // Hàm thêm danh mục khi ấn nút "Thêm danh mục"
        // Lấy các giá trị trong input và gửi tới controller thông qua ajax
        // Nếu id = "" hêm đối tượng trả về vào table
        // Còn không thì update
        $("#add-category").click(() => {
            var id = $("#idCategory").val();
            let isactive = true;

            var isCheck = $("#isActive").is(":checked");
            if (!isCheck) {
                isactive = false;
            }

            if (id == "") {
                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:7000/api/TbProductCategory',
                    processData: false,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        title: $('#title').val(),
                        isActive: isactive
                    }),
                    success: function (result) {
                        $('#category-info').modal('hide');
                        LoadData();
                    },
                    error: function () { },
                });
            }
            else {
                $.ajax({
                    type: 'PUT',
                    url: 'https://localhost:7000/api/TbProductCategory/' + id,
                    processData: false,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Id: id,
                        Title: $("#title").val(),
                        isactive: isactive
                    }),
                    success: function (result) {
                        $("#category-info").modal('hide');
                        LoadData();
                        
                    },
                    error: function (erro) { },
                })
            }
        });

        // Hàm xóa danh mục
        // Sau khi xóa danh mục thì cập nhật lại cột STT
        function deleteCategory(id) {
            $('#confirmDeleteModal').modal('show');

            $(document).on('click', '#confirmDelete', function () {
                DeleteCategory(id);
                $('#confirmDeleteModal').modal('hide');
            });
        }

        $("#select-all").change(() => {
            let isCheck = $("#select-all").is(":checked");
            if (isCheck) {
                $(".check-all").prop("checked", true);
            }
            else {
                $(".check-all").prop("checked", false);
            }
        });

        function deleteChecked() {
            $('#confirmDeleteCheckedModal').modal('show');
            $(document).on('click', '#confirmDeleteChecked', function () {
                var checkedBoxes = $('.check-all').filter(':checked');
                checkedBoxes.each(function () {
                    if ($(this).is(':checked')) {
                        DeleteCategory($(this).val());
                    }
                });
                $('#confirmDeleteCheckedModal').modal('hide');
            });
        }

        function DeleteCategory(id) {
            $.ajax({
                type: 'delete',
                url: 'https://localhost:7000/api/TbProductCategory/' + id,
                processData: false,
                contentType: 'application/json',
                data: JSON.stringify({
                    Id: id
                }),
                success: function (result) {
                    $('#trow_' + id).remove();
                },
                error: function () { },
            });
        }

        // hàm Load lại toàn bộ thông tin trong database
        function LoadData() {
            // xóa danh sách nhiệm vụ cũ
            $("#list-category").empty();
            // gửi request
            $.ajax({
                type: 'GET',
                    url: 'https://localhost:7000/api/TbProductCategory',
                success: function (result) {
                    if (result.length > 0) {
                        
                        result.map((item) => {
                            let r =
                                `<tr id="trow_${item.id}">
                                    <input type="text" id="idCategory" value="${item.id}" hidden />
                                        <td>
                                            <input type="checkbox" 
                                                class="check-all" 
                                                style="transform: scale(1.5)" 
                                                value="${item.id}" 
                                                id="check_${item.id}" />
                                        </td>
                                        <td>${item.title}</td>
                                        
                                            <td>
                                                <div class="d-flex">
                                                    <a class="btn btn-warning me-3 text-white" 
                                                        onclick = "editCategoryAjax('${item.id}')" >
                                                        <i class="bx bx-edit-alt me-1" ></i>
                                                        Sửa
                                                    </a >
                                                    <a data-id="${item.id}" class="btn btn-danger text-white" 
                                                        onclick="deleteCategory('${item.id}')">
                                                        <i class="bx bx-trash me-1"></i>
                                                        Xóa
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>`;
                            $("#list-category").append(r);
                        });
                    }

                },
                error: function (error) {
                    let r = `<h5>Không có danh mục</h>`
                    $("#list-category").append(r);
                }
            });
        }

        @*
            <td class="">
           ${item.isActive ?
   `<a href="javascript:void(0)" onclick="apiChangeStatus('${item.id}')" class="text-success">
                       <i id="isActive_${item.id}" class='bx bx-check-circle text-success'>
                           Hiển thị
                       </i>
                   </a>` :
   `<a href="javascript:void(0)" onclick="apiChangeStatus('${item.id}')" class="text-danger" >
                       <i id="isActive_${item.id}" class='bx bx-x-circle text-danger'>
                           Không hiển thị
                       </i>
                   </a>`
               }
           </td>
        *@

        // Hàm xử lý sự kiện khi ấn nút Edit Ajax
        function editCategoryAjax(id) {
            $.ajax({
                type: 'get',
                url: 'https://localhost:7000/api/TbProductCategory/' + id,
                data: { id: id },
                success: function (result) {
                    RenderModalUpdate(result);
                },
            });
        }

        function RenderModalUpdate(item) {
            $("#idCategory").val(item.id);
            $("#title").val(item.title);
            $('#isActive').prop('checked', item.isActive)
            $("#category-info").modal('show');
        }

        // Hàm xử lý sự kiện hide modal
        // Sau khi hide modal thì xóa thông tin trong form
        $("#category-info").on("hide.bs.modal", () => {
            ClearForm();
        });

        // Hàm xóa thông tin form
        function ClearForm() {
            $("#idCategory").val("");
            $("#title").val("");
        }

        function Search() {
            let searchStr = $('input[name="searchStr"]').val();
            $.ajax({
                type: 'get',
                url: '/admin/ProductCategory/search',
                data: {
                    searchStr: searchStr
                },
                success: function (data) {
                    if (data.length > 0) {
                        $("#list-category").empty();
                        data.map((item) => {
                                let r =
                                    `<tr id="trow_${item.id}">
                                            <input type="text" id="idCategory" value="${item.id}" hidden />
                                                <td>
                                                    <input type="checkbox"
                                                        class="check-all"
                                                        style="transform: scale(1.5)"
                                                        value="${item.id}"
                                                        id="check_${item.id}" />
                                                </td>
                                                <td>${item.title}</td>
                                                <td class="">
                                                    ${item.isActive ?
                                        `<a href="javascript:void(0)" onclick="apiChangeStatus('${item.id}')" class="text-success">
                                                                <i id="isActive_${item.id}" class='bx bx-check-circle text-success'>
                                                                    Hiển thị
                                                                </i>
                                                            </a>` :
                                        `<a href="javascript:void(0)" onclick="apiChangeStatus('${item.id}')" class="text-danger" >
                                                                <i id="isActive_${item.id}" class='bx bx-x-circle text-danger'>
                                                                    Không hiển thị
                                                                </i>
                                                            </a>`
                                    }
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a class="btn btn-warning me-3 text-white"
                                                                onclick = "editCategoryAjax('${item.id}')" >
                                                                <i class="bx bx-edit-alt me-1" ></i>
                                                                Sửa
                                                            </a >
                                                            <a data-id="${item.id}" class="btn btn-danger text-white"
                                                                onclick="deleteCategory('${item.id}')">
                                                                <i class="bx bx-trash me-1"></i>
                                                                Xóa
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>`;
                                $("#list-category").append(r);
                            });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

    </script>
}
 