﻿<!-- Modal -->
 <div class="modal fade" id="modalCreateUpdateAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg">
         <div class="modal-content">
             <div class="modal-header bg-primary">
                 <h5 class="modal-title text-white" id="modalAccountTitle">Khai báo thông tin</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="d-flex justify-content-between gap-3">
                     <div class="col">
                         <input type="text" id="idRole" value="" hidden />
                         <div class="col mb-3">
                             <label for="tenquyen" class="form-label fw-bold">Tên quyền</label>
                             <textarea class="form-control" id="tenquyen" value=""></textarea>
                         </div>
                         <div class="col mb-3">
                             <label for="mota" class="form-label fw-bold">Mô tả</label>
                             <textarea class="form-control" id="mota" value="" rows="3"></textarea>
                         </div>                        
                         <div class="form-check">
                             <input class="form-check-input" type="checkbox" value="" id="kichhoat" checked="">
                             <label class="form-check-label" for="kichhoat">
                                 Kích hoạt
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                
                 <button class="btn btn-primary" onclick="CreateUpdateAccount()">Ok</button>
             </div>
         </div>
     </div>
 </div>
 