
@{
    ViewData["Title"] = "Danh sách tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section search {
    @*render search partial view*@
    @{
        Html.RenderPartial("SearchPartial");
    }
}

<!-- Main content -->
<section id="ListNews" class="content" style="height:100%">
    <div class="card" style="height:100%">
        <div class="card-header d-flex justify-content-between">
            <h2 class="card-title"><strong>@ViewData["Title"]</strong></h2>
            <div class="card-tools ">
                <a href="/admin/news/add_mvc" class="btn btn-primary">Thêm mới MVC</a>
                <a href="#" class="btn btn-primary shadow rounded" id="open-modal">Thêm mới Ajax</a>
                <a class="btn btn-danger" id="btnDeleteAll" onclick="deleteChecked()">Xóa</a>
            </div>
        </div>
        <div class="table-responsive text-nowrap flex-grow-1" >
            <table class="table ">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="form-switch-md" id="select-all" onchange="selectAll()"  style="transform: scale(1.5)" />
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Tiêu đề</th>
                        <th>Ngày tạo</th>
                        <th>Hiển thị</th>
                        <th>Danh mục</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="list-news" class="table-border-bottom-0"></tbody>
            </table>
        </div>
    </div>
</section>
<!-- /.content -->

@*render modal add news partial view*@
@{
    //Html.RenderPartial("ModalAddNewsParrtial");
    Html.RenderPartial("ModalEditNews");
}

@section scripts{
    <script src="~/admin/js/news/news.js"></script>

    <script>
        $(document).ready(() => {
            tinymce.init({
                selector: '#Detail',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        })
    </script>
}