<!-- Modal Add -->
<div class="modal fade" id="news-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="inforTaskLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <!--Tiêu đề modal-->
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="infotasklabel">Thông tin tin tức</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!--Thân modal-->
            <div class="modal-body d-flex gap-3">
                <input type="text" id="idNews" value="" hidden />

                <div id="areaimage" class=" " style="width:30%">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" width="300" height="300">
                        <rect width="300" height="300" fill="#cccccc"></rect>
                        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-family="monospace" font-size="26px" fill="#333333">Ảnh sản phẩm</text>
                    </svg>
                </div>

                <form class="mb-3 gap-3 align-center" enctype="multipart/form-data" style="width:30%">
                    <div class="flex-grow-1">
                        <div class="form-group mb-3">
                            <label for="Title" class="form-label fw-bold">Tiêu đề tin tức</label>
                            <input type="text" class="form-control" id="Title" name="Title" placeholder="Tiêu đề tin tức" autofocus>
                        </div>
                        <div class="form-group mb-3">
                            <label for="ImageUrl">Ảnh đại diện</label>
                            <input type="file" id="ImageUrl" name="file" class="form-control" required></>
                        </div>
                    </div>
                    <div class="form-group mb-3 d-flex">
                        <label>Hiển thị</label>
                        <input id="IsActive" type="checkbox" name="IsActive" class="mx-4" style="width:6rem" value="true" checked>
                    </div>
                    <div class="form-group mb-3">
                        <label for="CategoryId" class="form-label fw-bold ">Danh mục</label>
                        <select class="form-select" id="CategoryId" name="CategoryId">
                            <option disabled selected>--Select Category--</option>
                        </select>
                    </div>
                </form>


                <div style="width:40%">
                    <div class="mb-3">
                        <label for="Description" class="form-label fw-bold">Mô tả</label>
                        <input type="text" class="form-control" id="Description" name="Description" placeholder="Mô tả">
                    </div>
                    <div class="form-group mb-3">
                        <label for="Detail">Chi tiết</label>
                        <textarea id="Detail" class="form-control" name="Detail" placeholder="" required></textarea>
                    </div>

                </div>
            </div>

            <!--Cụm nút nhấn-->
            <div class="modal-footer">
                <a href="javascript:void()" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy bỏ</a>
                <a id="add-news" href="javascript:void(0)" class="btn btn-primary">Ok</a>
            </div>

        </div>
    </div>
</div>

