<!-- Search -->
<div class="navbar-nav align-items-center">
    <div class="nav-item d-flex align-items-center">
        <button type="submit" class="btn btn-light btn-sm">
            <i class="bx bx-search fs-4 lh-0"></i>
        </button>
        <input type="text"
               class="form-control border-0 shadow-none"
               placeholder="Search..."
               aria-label="Search..." />
    </div>
</div>
<!-- /Search -->