@namespace WebBanHangOnline.Helpers

@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!--Aside Body-->
@section asideBody {
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/admin" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <!-- Danh mục -->
        <li class="menu-item">
            <a href="/admin/category" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Danh mục</div>
            </a>
        </li>

        <!-- Tin tức -->
        <li class="menu-item">
            <a href="/admin/news" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Tin tức</div>
            </a>
        </li>

        <!-- Bài viết -->
        <li class="menu-item ">
            <a href="/Admin/post" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Bài viết</div>
            </a>
        </li>

        <!-- Quản lý sản phẩm -->
        <li class="menu-item ">
            <a href="/admin/product" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Quản lý sản phẩm</div>
            </a>
        </li>

        <!-- Danh mục sản phẩm -->
        <li class="menu-item ">
            <a href="/admin/productcategory" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Danh mục sản phẩm</div>
            </a>
        </li>

        <!-- Cấu hình hệ thống -->
        <li class="menu-item ">
            <a href="index.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/news" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Tables</div>
            </a>
        </li>
    </ul>
}

@section search {
    <!-- Search -->
    <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
            <i class="bx bx-search fs-4 lh-0"></i>
            <input type="text"
                   class="form-control border-0 shadow-none"
                   placeholder="Search..."
                   aria-label="Search..." />
        </div>
    </div>
    <!-- /Search -->
}

<h1>Admin View</h1>
@* Transactions Table *@
<div class="card">
    <div class="card-datatable table-responsive pb-0">
        <table id="transactionsTable" class="table">
            <thead class="border-top">
                <tr class="text-nowrap">
                    <th></th>
                    <th>Html.DisplayNameFor(model => model.Id)</th>
                    <th>
                        Html.DisplayNameFor(model => model.Customer)
                    </th>
                    <th>
                        Html.DisplayNameFor(model => model.TransactionDate)
                    </th>
                    <th>
                        Html.DisplayNameFor(model => model.DueDate)                    </th>
                    <th>
                        Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Any() == true)
                {
                    @foreach (var item in Model)
                    {
                        string statusClass = "info"; // Default value if item.Status is null or doesn't match any case

                        if (!string.IsNullOrWhiteSpace(item.Status))
                        {
                            string lowerCaseStatus = item.Status.ToLower();

                            if (lowerCaseStatus == "paid")
                            {
                                statusClass = "success";
                            }
                            else if (lowerCaseStatus == "due")
                            {
                                statusClass = "warning";
                            }
                            else if (lowerCaseStatus == "canceled")
                            {
                                statusClass = "danger";
                            }
                        }

                        <tr>
                            <td></td>
                            <td>
                                Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                Html.DisplayFor(modelItem => item.Customer)
                            </td>
                            <td>
                                item.TransactionDate.ToString("dd MMMM, yy")
                            </td>
                            <td>
                                @item.ToString("dd MMMM, yy")
                            </td>
                            <td>
                                @item.Total
                            </td>
                            <td>
                                <div class="badge bg-@statusClass rounded-pill">
                                    Html.DisplayFor(modelItem => item.Status)
                                </div>
                            </td>
                            <td class="text-nowrap">
                                <a asp-action="Update" asp-route-id="item.Id" class="btn btn-sm btn-icon shadow-none"><i class='bx bx-edit'></i></a>
                                <a href="/Transactions/Delete/item.Id" class="btn btn-sm btn-icon shadow-none delete-transaction" data-transaction-username="Html.DisplayFor(modelItem => item.Customer)"><i class="bx bx-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@* @section scripts{
    <script>
        var controllerName = '@ViewBag.ControllerName';
        $(".menu-item").each(() => {
            $(this).removeClass("active");
        });
        $("#" + controllerName).addClass("active");

    </script>
}
 *@
